<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the FDNY Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and import the dataset

In [59]:
#Import the required libraries
import pandas as pd
import numpy as np

In [60]:
#Import the Fire Department of New York City (FDNY) file
file_path = "../FDNY/FDNY.csv"
df_fire_department = pd.read_csv(file_path)

#### 2: Analyze the dataset

In [61]:
#View the content of the data
df_fire_department = df_fire_department[1:]
df_fire_department

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [62]:
#View the first five records
df_fire_department.head()
print(df_fire_department.shape)

(218, 3)

In [63]:
#Skip the duplicate header row
df_fire_department = df_fire_department.drop_duplicates()

In [64]:
#Verify if the dataset is fixed
print(df_fire_department.shape)

(218, 3)

In [65]:
#View the data statistics (Hint: use describe() method)
df_fire_department.describe()

              FacilityName  FacilityAddress   Borough
count                  218              218       218
unique                 218              218         5
top     Engine 4/Ladder 15  42 South Street  Brooklyn
freq                     1                1        66

In [66]:
#View the attributes of the dataset (Hint: view the column names)
df_fire_department.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [67]:
#View the index of the dataset
df_fire_department.index        # this is teaching me so much

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            209, 210, 211, 212, 213, 214, 215, 216, 217, 218],
           dtype='int64', length=218)

#### 3: Find the total number of fire department facilities in New York city

In [68]:
#Count number of records for each attribute
df_fire_department["FacilityName"].count()

218

In [69]:
#view the datatypes of all three attributes
print(type(df_fire_department["FacilityAddress"]))
print(type(df_fire_department["FacilityName"]))
print(type(df_fire_department["Borough"]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

#### 4: Find the total number of fire department facilities in each borough

In [70]:
#Select FDNY information boroughwise
df_borough = df_fire_department.groupby("Borough")

In [71]:
#View FDNY informationn for each borough
# for key, item in df_borough:
#     print(df_borough.get_group(key), "\n\n")

df_borough.describe()

              FacilityName         \
                     count unique
Borough
Bronx                   34     34
Brooklyn                66     66
Manhattan               48     48
Queens                  50     50
Staten Island           20     20

                                                                       \
                                                             top freq
Borough
Bronx                           Engine 60/Ladder 17/Battalion 14    1
Brooklyn       Engine 207/Ladder 110/Battalion 31/Division 11...    1
Manhattan                                     Engine 4/Ladder 15    1
Queens                                     Engine 258/Ladder 115    1
Staten Island                                           Marine 9    1

              FacilityAddress
                        count unique                          top freq
Borough
Bronx                      34     34        341 East 143rd Street    1
Brooklyn                   66     66           172 Tillary Street    1
Manhattan                  48     48              42 South Street    1
Queens                     50     50            10-40 47th Avenue    1
Staten Island              20     20  Saint George Ferry Terminal    1

#### 5: Find the total number of fire department facilities in Manhattan

In [72]:
#Select FDNY information for Manhattan
Manhattan_borough = df_borough.get_group("Manhattan")

In [74]:
#View FDNY information for Manhattan
# Manhattan_borough