In [23]:
import pandas as pd
import numpy as np

In [24]:
tt = pd.Series([1, 2, 3, 4])
print(np.ones((3, 3)).ravel())
print(tt)

[1. 1. 1. 1. 1. 1. 1. 1. 1.]
0    1
1    2
2    3
3    4
dtype: int64

In [25]:
#_index = list("emeka")
emeka_series = pd.Series(["kamsi", "chidera", "salinha", "mom", "dad"])
print(emeka_series)

0      kamsi
1    chidera
2    salinha
3        mom
4        dad
dtype: object

In [26]:
family_memebrs = np.array(["Nnaemeka", "Kamsi", "Dozie", "Chidera"])
ages = np.array([20, 19, 19, 21])

# use the name as the index, and the age as the actual data
family_memebrs_age_map = pd.Series(ages, index=family_memebrs)
print(family_memebrs_age_map["Kamsi"])
print(family_memebrs_age_map[0:3])

19
Nnaemeka    20
Kamsi       19
Dozie       19
dtype: int64

In [27]:
second = pd.Series(list("Nnaemeka"), index=[1, 2, 3, 3, 4, 5, 5, 6])
print(second)
print(second[5])        # prints eveyrthing with an index value of '5'
print(second.loc[5])    # same as doing second[5]
print(second.iloc[5])   # now this goes to the index location of 5 an dprints the thing there 

'''
Rule of thumb: If you want the element at the fifth index, used iloc - index location
using loc will print duplicates if there are duplicate indexes
'''

1    N
2    n
3    a
3    e
4    m
5    e
5    k
6    a
dtype: object
5    e
5    k
dtype: object
5    e
5    k
dtype: object
e

'\nRule of thumb: If you want the element at the fifth index, used iloc - index location\nusing loc will print duplicates if there are duplicate indexes\n'

In [28]:
# adding stuff happens based on indexes
vec1 = pd.Series([1, 2, 3, 4], index=list('abcd'))
vec2 = pd.Series([5, 6, 7, 8], index=list('abcd'))
vec3 = pd.Series([4, 3, 2, 1], index=list('avbf'))

print(vec1 + vec2)
print(vec1 + vec3) # ones with differing index values will result in NaN

a     6
b     8
c    10
d    12
dtype: int64
a    5.0
b    4.0
c    NaN
d    NaN
f    NaN
v    NaN
dtype: float64

In [29]:
vec1
vec1.index=[1, 2, 3, 4]
print(vec1)

1    1
2    2
3    3
4    4
dtype: int64

In [30]:
### DATAFRAMES

In [36]:
olympic_data_dict = {
    'HostCity': ['London', 'Beijung', 'Athens', 'Sydney', 'Atalanta'],
    'Year': [2012, 2008, 2004, 2000, 1996],
    'No. of participating Countries': [205, 204, 201, 200, 197]
}

# make the datFrame from this object
df_olympic_data = pd.DataFrame(olympic_data_dict)
print(df_olympic_data)
print(df_olympic_data["HostCity"])

   HostCity  Year  No. of participating Countries
0    London  2012                             205
1   Beijung  2008                             204
2    Athens  2004                             201
3    Sydney  2000                             200
4  Atalanta  1996                             197
0      London
1     Beijung
2      Athens
3      Sydney
4    Atalanta
Name: HostCity, dtype: object

In [38]:
my_df = {
    "names": ["Emeka", "Salinha", "kamsi", "amjad"],
    "ages": [20, 30, 34, 31]
}

df = pd.DataFrame(my_df)
print(df.describe())

            ages
count   4.000000
mean   28.750000
std     6.075909
min    20.000000
25%    27.500000
50%    30.500000
75%    31.750000
max    34.000000

In [39]:
# view the two top rows
df.head(2)

     names  ages
0    Emeka    20
1  Salinha    30

In [40]:
# view the three bottom rows
df.tail(3)

     names  ages
1  Salinha    30
2    kamsi    34
3    amjad    31

In [41]:
# view the index
df.index

RangeIndex(start=0, stop=4, step=1)

In [66]:
# to view all the columns:
df.columns

# this could be very useful when you are asked
# to for example find the number of features in an ml project
# these are the skills you will need when analyzing 
# and cleaning data

Index(['names', 'ages'], dtype='object')