In [25]:
import pandas as pd
import sqlite3

In [26]:
# create an SQL table
create_table = """ 
CREATE TABLE student_score
(id INTEGER, Name VARCHAR(20), Math REAL,
Science REAL
);"""

In [27]:
# execute SQL statement
execute_sql = sqlite3.connect(":memory:")
execute_sql.execute(create_table)
execute_sql.commit()

In [28]:
# prepare a sql query
# sql_query = execute_sql.execute('select * from student_score')

In [29]:
# fetch result from the sqlite table
# result_set = sql_query.fetchall()

In [30]:
# now view the result
# result_set

In [31]:
# prepare data to be inserted into sql table
insertSQL = [(10, "Jack", 85, 92),
             (29, "Tom", 73, 89),
             (65, "Ram", 22, 45.33),
             (5, "Steve", 99.34, 22)
             ]

In [32]:
# insert the data into an SQL table using SQL statement
insert_statement = "Insert into student_score values(?,?,?,?)"
execute_sql.executemany(insert_statement, insertSQL)
execute_sql.commit()

In [33]:
# prepare SQL query
SQL_query = execute_sql.execute("select * from student_score")

In [34]:
# fetch the result set for the query
result_set = SQL_query.fetchall()

In [38]:
# view the result set
result_set

[(10, 'Jack', 85.0, 92.0),
 (29, 'Tom', 73.0, 89.0),
 (65, 'Ram', 22.0, 45.33),
 (5, 'Steve', 99.34, 22.0)]

In [46]:
print(list(zip(*SQL_query.description))[0])

('id', 'Name', 'Math', 'Science')

In [47]:
# create a dataFrame and put the data in there
df_student_records = pd.DataFrame(result_set, columns=list(zip(*SQL_query.description))[0])

In [49]:
# view the records in a pandas dataFrame
df_student_records

   id   Name   Math  Science
0  10   Jack  85.00    92.00
1  29    Tom  73.00    89.00
2  65    Ram  22.00    45.33
3   5  Steve  99.34    22.00